<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 align-self-center">
        <a href="/" class="footer-brand">Soto Cak Laris</a>
      </div>
      <div class="col-lg-4 align-self-center">
        <div class="grid-container">
          <a class="footer-link" href="/">Home</a>
          <a class="footer-link" href="/foods">Menu</a>
        </div>
      </div>
      <div class="col-lg-4 align-self-center">
        <div class="grid-container">
          <a class="footer-link" href=""
            ><i class="fa fa-twitter" aria-hidden="true"></i> @caklaris_soto</a
          >
          <a class="footer-link" href=""
            ><i class="fa fa-instagram" aria-hidden="true"></i> @caklaris_</a
          >
          <a class="footer-link" href=""
            ><i class="fa fa-whatsapp" aria-hidden="true"></i> +6282333810624</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
